{% extends "::base.html.twig" %}

{% block title %}ArnoldActualitesBundle:Actualites:getrecentactualites{% endblock %}

{% block body %}
<h1>Welcome to the Actualites:getrecentactualites page</h1>
{% endblock %}
