{% extends "::base.html.twig" %}

{% block title %}ArnoldCompetencesBundle:Competences:getcompetences{% endblock %}

{% block body %}
<h1>Welcome to the Competences:getcompetences page</h1>
{% endblock %}
