{% extends "::base.html.twig" %}

{% block title %}ArnoldCommentaireBundle:Commentaire:getallrealisation{% endblock %}

{% block body %}
<h1>Welcome to the Commentaire:getallrealisation page</h1>
{% endblock %}
